body {
    margin: 0;
    max-width: 980px;
    margin: auto;
}
ul {
    list-style: none;
    padding: 0;
}
h1, h2, h3 {
    color: #c14c60;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}
strong {
    font-family: 'Montserrat', sans-serif;
    color: #d42f2f;
}
header {
    margin: 0 auto;
    display: flex;
    height: 90px;
    border-bottom: 5px solid pink;
    box-sizing: border-box;
}
header img {
    max-width: 200px;
    padding-top: 10px;
}
header ul {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin: 0;
}
header ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: 90px;
    padding: 0 30px;
    height: 85px;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
header li:hover {
    background-color: pink;
}
.title {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: brown;
    color: #ffe9ed;
}
.about {
    background-image: url(http://i44.photobucket.com/albums/f35/idomosko/Baker_zpsejcvjbi8.jpg);
    background-size: cover;
    display: inline-block;
    border-bottom: 8px solid pink;
    padding: 40px 20px;
    width: 100%;
    box-sizing: border-box;
}
.about h2 {
    max-width: 450px;
    border-bottom: 3px solid;
    padding-bottom: 5px;
}
.about p {
    max-width: 560px;
    color: #ffe9ed;
    font-size: 20px;
}
.about p::first-letter {
    font-size: 48px;
    float: left;
    line-height: 48px;
    font-weight: bold;
    padding-right: 10px;
    margin-top: 1px;
}
.menu-body {
    position: relative;
    border-bottom: 50px solid #c14c60;
    padding-bottom: 0;
    margin: 50px 20px 20px;
    margin-bottom: 0;
}
.menu-body .inner {
    max-width: 665px;
    margin-left: auto;
}
.menu-item {
    position: relative;
    margin-bottom: 22px;
}
.menu-item-name, .menu-item-price {
    color: #c14c60;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.menu-item-name {
    border-bottom: 1px solid brown;
}
.menu-item-price {
    position: absolute;
    right: 5px;
    margin-top: -24px;
}
.menu-item-desc {
    font-style: italic;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
.menu-body .lastTwo {
    max-width: 455px;
    margin-left: auto;
}
.menu-body img {
    position: absolute;
    bottom: 0;
    margin-bottom: -64px;
}
.shape-divider {
    text-align: center;
    background-color: #ffe9ed;
    margin-left: 20px;
    margin-right: 20px;
}
.shape-divider img {
    max-width: 125px;
}
.foodStickers ul {
    display: flex;
    margin-top: 50px;
}
.foodStickers li {
    text-align: center;
}
.foodStickers img {
    max-width: 100px;
}
.foodStickers li p {
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.testimonials {
    border-top: 5px solid pink;
    background-color: brown;
    margin-right: 20px;
    margin-left: 20px;
}
.testimonials img {
    max-width: 25%;
    display: inline-block;
    vertical-align: middle;
}
.testimonials i {
    font-size: 100px;
    position: absolute;
    color: #e2e2e2;
    opacity: 0.6;
}
.testimonials blockquote {
    display: inline-block;
    max-width: 65%;
    font-size: 30px;
    vertical-align: middle;
    font-style: italic;
    margin: 25px 25px 25px 60px;
    color: white;
}
.storeTables {
    text-align: center;
    display: flex;
    font-family: arial;
    font-size: 14px;
    flex-flow: row wrap;
}
.location {
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
}
.location table {
    border-spacing: 0px;
    margin: auto;
    width: 100%;
}
.location td, .location th {
    border: 1px solid black;
    padding: 5px 10px;
}
.location th {
    background-color: #eaeaea;
}

/* --------------------------- STYLE GUIDE ------------------------------- */
.style-guide {
    background-color: aliceblue;
}
.style-guide-title {
    color: black;
}
.style-guide-inner {
    max-width: 680px;
    margin: 30px auto;
    padding: 10px;
    border: 3px solid #000000;
    background-color: white;
}
.theme-colors {
    display: flex;
}
.theme-colors li {
    padding: 30px;
    border: 1px solid grey;
    margin: 5px;
}