body {
    margin: 0;
    max-width: 980px;
    margin: auto;
}
ul {
    list-style: none;
    padding: 0;
}
h1, h2, h3 {
    color: #c14c60;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: georgia;
}
strong {
    font-family: 'Montserrat', sans-serif;
    color: #d42f2f;
}
header {
    background-color: pink;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    border-bottom: 5px solid brown;
    box-sizing: border-box;
}
header img {
    max-width: 175px;
}
header ul {
    display: inline-block;
    width: 100%;
    text-align: right;
}
header ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
}
.title {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}
.menu-body {
    position: relative;
    border-bottom: 50px solid #c14c60;
    padding-bottom: 0;
    margin: 20px;
}
.menu-body .inner {
    max-width: 665px;
    margin-left: auto;
}
.menu-item {
    position: relative;
    margin-bottom: 22px;
}
.menu-item-name, .menu-item-price {
    color: #c14c60;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.menu-item-name {
    border-bottom: 1px solid brown;
}
.menu-item-price {
    position: absolute;
    right: 5px;
    margin-top: -24px;
}
.menu-item-desc {
    font-style: italic;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
.menu-body .lastTwo {
    max-width: 455px;
    margin-left: auto;
}
.menu-body img {
    position: absolute;
    bottom: 0;
    margin-bottom: -64px;
}
.storeTables {
    text-align: center;
    display: flex;
    font-family: arial;
    font-size: 14px;
    flex-wrap: wrap;
}
.location {
    width: 33.3%;
}
.location table {
    border-spacing: 0px;
    margin: auto;
}
.location td, .location th {
    border: 1px solid black;
    padding: 5px 10px;
}
.location th {
    background-color: #eaeaea;
}

/* --------------------------- STYLE GUIDE ------------------------------- */
.style-guide {
    background-color: aliceblue;
}
.style-guide-title {
    color: black;
}
.style-guide-inner {
    max-width: 680px;
    margin: 30px auto;
    padding: 10px;
    border: 3px solid #000000;
    background-color: white;
}
.theme-colors {
    display: flex;
}
.theme-colors li {
    padding: 30px;
    border: 1px solid grey;
    margin: 5px;
}